on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  run_pull:
    name: run pull
    runs-on: ubuntu-latest
    steps:
      - name: executing remote ssh commands using ssh
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd /home/admin/GithubSecretsDeploy/
            git fetch
            git checkout ${{ secrets.MAIN_BRANCH}}
            git pull origin main
            cd apolobyte_web_page
            npm i
            npm run dev
            exit